<form action="/cart" method="post">
  
    <button class="btn btn-round btn-b" ><span class="icon-basket p-2">Add to Cart</span></button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>

