<form action="/wishlist" method="post">
    
    <button class="btn btn-round btn-b" style="width: 75%; text-align: center;"><span class="icon-heart ">Wishlist</span></button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>